.release-article__content__header
%h1.release-article__content__title
  = @article.title
.release-article__content__tags
  - @article.tags.each do |tag|
    %li.release-article__content__tags__tag
      = "#" +tag.name
%p.release-article__content__description
  = @article.description
%p.release-article__content__body
  = markdown(@article.body).html_safe
