%ul.sns-box
  %li
    .sns-box__icons.facebook#facebook-js
      = link_to image_tag("facebook.png", class: "facebook__icon"), "#", id: "facebook-link"
  %li
    .sns-box__icons.line#line-js
      = link_to image_tag("line.png", class: "line__icon"), "#", id: "line-link"
  %li
    .sns-box__icons.twitter#twitter-js
      = link_to image_tag("twitter.png", class: "twitter__icon"), "#", id: "twitter-link"
