.breadcrumbs {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  font-size: 1.3rem;
  background-color: #80808012;
  &__list:after {
    content: " / ";
    padding: 0 10px;
  }
  &__home {
    color: black;
    &:hover {
      color: $emerald-green;
    }
  }
  &__category {
    color: black;
    &:hover {
      color: $emerald-green;
    }
  }
}
