%ul
  = link_to article_path(article), class: "article" do
    %li.article__info
      = image_tag(article.image, class: "eye-catch")
      %ul.article__info__content
        %li.article__info__content__category
          おでかけ
        %li.article__info__content__tag
          %p #ビーチ
        %li.article__info__content__tag
          %p #女子旅
        %li.article__info__content__title
          = article.title
        %li.article__info__content__description
          %p.article__info__content__description__text
            = article.description

