.draft-article-view {
  background-color: $thin-gray;
  padding-bottom: 50px;
  .draft-article-area {
    width: 960px;
    margin: 30px auto ;
    & .new_article {
      padding: 10px 30px 30px;
      background-color: white;
    }
    & .edit_article {
      padding: 10px 30px 30px;
      background-color: white;
    }
    &__label {
      margin-top: 30px;
      margin-bottom: 50px;
      font-size: 1.5rem;
      & .form_label {
        padding: 0.2em 0.5em;
        margin: 2em 0;
        color: $brawn;
        background: $thin-pink;
        box-shadow: 0px 0px 0px 10px $thin-pink;
        border: dashed 2px $deep-pink;
        border-radius: 8px;
        font-weight: bold;
      }
    }
    &__title {
      padding: 0.5em 1em;
      margin: 2em 0;
      font-weight: bold;
      color: $blue;
      background: white;
      border: solid 3px $blue;
      border-radius: 10px;
      & .form_title {
        height: 100%;
        width: 100%;
        border: none;
        outline: 0;
        font-size: 1.4rem;
      }
    }
    &__description {
      padding: 0.5em 1em;
      margin: 2em 0;
      font-weight: bold;
      color: $blue;
      background: white;
      border: solid 3px $blue;
      border-radius: 10px;
      & .form_description {
        height: 190px;
        width: 100%;
        border: none;
        outline: 0;
        font-size: 1.4rem;
        max-width: 100%;
      }
    }
    &__category {
      border: solid 3px $blue;
      display: inline-block;
      border-radius: 10px;
      & #article_category_id {
        height: 50px;
        font-size: 1.5rem;
        border: none;
        color: $brawn;
        font-weight: bold;
        outline: none;
      }
    }
    &__image {
      margin-bottom: 10px;
      font-weight: bold;
      padding-left: 50px;
      & .file_btn {
        display: none;
      }
    }
    .preview {
      height: 400px;
      width: 600px;
      margin: 0 auto;
      margin-bottom: 30px;
      background: image-url('noimage.png') no-repeat;
    }
    &__body {
      padding: 0.5em 1em;
      margin: 2em 0;
      font-weight: bold;
      color: $blue;
      background: white;
      border: solid 3px $blue;
      border-radius: 10px;
      & .form_body {
        height: 500px;
        width: 100%;
        border: none;
        outline: 0;
        font-size: 1.4rem;
        max-width: 100%;
        min-height: 500px;
      }
    }
    & .form_btn {
      display: inline-block;
      padding: 0.5em 5em;
      text-decoration: none;
      background: $btn-blue;
      color: white;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
      font-size: 1.5rem;
      margin-top: 40px;
      margin-left: 350px;
      & :active {
        -ms-transform: translateY(4px);
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        border-bottom: none;
      }
    }
  }
}

