.tag_alert {
  background-color: red;
  text-align: center;
  color: white;
}
.content__tag {
  background-color: #f0f1f5;
  padding-top: 30px;
  &__title {
    font-size: 1.5rem;
    display: inline-block;
    padding: 10px 100px;
    background-color: #33353d;
    color: white;
    text-align: center;
    margin-left: 30px;

  }
  &__lists {
    padding: 10px;
    margin-left: 30px;
    &__list {
      width: 240px;
      font-size: 1.4rem;
      padding: 10px 0;
      text-align: center;
      border-bottom: solid #33353d;
      display: inline-block;
      margin-bottom: 10px;
      &__delete {
        font-size: 1.0rem;
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #FA5858;
        color: #FFF;
        border-radius: 3px;
        margin-left: 10px;
      }
    }
  }
  &__form {
    height: 20px;
    width: 500px;
    padding: 10px;
    margin-left: 400px;
    font-size: 1.3rem;
    outline: none;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__btn {
    height: 40px;
    width: 100px;
    margin-left: 20px;
    color: white;
    background-color: $btn-blue;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
